/* @font-face {
  font-family: myKaiTi;
  src: url("./kaiTi.ttf");
} */

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-filter: contrast(120%);
  filter: contrast(120%);
  background-color: black;
  position: relative;
  font-family: 楷体;
}

.container {
  width: 100%;
  height: 99.74%;
  background-image: radial-gradient(
    2000px at 10% 130%,
    rgba(33, 39, 80, 1) 10%,
    #020409 100%
  );
}

.content {
  width: 100% auto;
  height: 100% auto;
}

/* @keyframes pulsate {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 40px #f09,
      0 0 80px #f09, 0 0 90px #f09, 0 0 100px #f09, 0 0 150px #f09;
  }
  0% {
    text-shadow: 0 0 4px #fff, 0 0 10px #fff, 0 0 18px #fff, 0 0 38px #f09,
      0 0 73px #f09, 0 0 80px #f09, 0 0 94px #f09, 0 0 140px #f09;
  }
} */

@keyframes masked-animation {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -100% 0;
  }
}

/* 这里控制文字样式 */
#canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  /* color: #ff00eb; */
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  text-align: center;
  user-select: none;
  font-size: 18px;

  background-image: -webkit-linear-gradient(
    left,
    blue,
    #66ffff 10%,
    #cc00ff 20%,
    #cc00cc 30%,
    #ccccff 40%,
    #00ffff 50%,
    #ccccff 60%,
    #cc00cc 70%,
    #cc00ff 80%,
    #66ffff 90%,
    blue 100%
  );
  -webkit-text-fill-color: transparent; /* 字体设置成透明色 */
  -webkit-background-clip: text; /* 裁剪背景，使文字作为裁剪区域向外裁剪 */
  -webkit-background-size: 200% 100%;
  -webkit-animation: masked-animation 4s linear infinite;
  /* animation: pulsate 0.11s ease-in-out infinite alternate; */
  /* border: 2px solid #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 20px #bc13fe, 0 0 8px #bc13fe,
    0 0 28px #bc13fe, inset 0 0 13px #bc13fe; */
}

#universe {
  width: 100% auto;
  height: 100% auto;
}

#footerContent {
  font-size: 110%;
  color: rgba(200, 220, 255, 0.3);
  width: 100%;
  position: fixed;
  bottom: 0%;
  padding: 20%;
  text-align: center;
  z-index: 20;
}

#footer {
  position: absolute;
  bottom: 0%;
  height: 300px;
  width: 100%;
}

#scene {
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -768px;
}

a {
  text-decoration: none;
  color: rgba(200, 220, 255, 1);
  opacity: 0.4;
  -webkit-transition: opacity 0.4s ease;
  transition: opacity 0.4s ease;
}

a:hover {
  opacity: 1;
}

.txt {
  color: hsla(0, 0%, 0%, 0);
  text-shadow: #fff 0 0 10px;
  transition: text-shadow 2s cubic-bezier(0, 1, 0, 1);
}

@-moz-document url-prefix() {
  .txt {
    text-shadow: #fff 0 0 20px;
  }
}

#canvas {
  margin: 0 auto;
}
